[submodule "MMCM"]
	path = MMCM
	url = https://github.com/TMElyralab/MMCM.git
[submodule "controlnet_aux"]
	path = controlnet_aux
	url = https://github.com/TMElyralab/controlnet_aux.git
	branch = tme
[submodule "diffusers"]
	path = diffusers
	url = https://github.com/TMElyralab/diffusers.git
	branch = tme
